---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: customer-agent
  name: customer-agent

---
apiVersion: v1
kind: Secret
metadata:
  namespace: customer-agent
  name: customer-agent-app-token
  annotations:
    kubernetes.io/service-account.name: customer-agent
type: kubernetes.io/service-account-token