---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: customer-agent
  name: customer-tool

---
apiVersion: v1
kind: Secret
metadata:
  namespace: customer-agent
  name: customer-tool-app-token
  annotations:
    kubernetes.io/service-account.name: customer-tool
type: kubernetes.io/service-account-token


---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: customer-tool-auth
  namespace: customer-agent
spec:
  vaultConnectionRef: vault-connection
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: customer-tool
    serviceAccount: customer-tool

---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultDynamicSecret
metadata:
  name: customer-db-creds
  namespace: customer-agent
spec:
  vaultAuthRef: customer-tool-auth
  mount: database
  path: creds/customer-readonly
  destination:
    create: true
    name: customer-db-creds
  renewalPercent: 67
  rolloutRestartTargets:
    - kind: Deployment
      name: customer-tool