---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: customer-agent
  name: customer-agent

---
apiVersion: v1
kind: Secret
metadata:
  namespace: customer-agent
  name: vault-access-app-token
  annotations:
    kubernetes.io/service-account.name: customer-agent
type: kubernetes.io/service-account-token

---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultConnection
metadata:
  name: vault-connection
  namespace: customer-agent
spec:
  address: "http://10.255.255.254:8200" # needs replaced with a templated address

---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: static-auth
  namespace: customer-agent
spec:
  vaultConnectionRef: vault-connection
  method: kubernetes
  mount: demo-auth-mount
  kubernetes:
    role: customer-agent
    serviceAccount: customer-agent

---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultDynamicSecret
metadata:
  name: customer-db-creds
  namespace: customer-agent
spec:
  vaultAuthRef: static-auth
  mount: database
  path: creds/customer-readonly
  destination:
    create: true
    name: customer-db-creds
  renewalPercent: 67
  rolloutRestartTargets:
    - kind: Deployment
      name: customer-agent

---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultPKISecret
metadata:
  name: customer-tool-db-pki
  namespace: customer-agent
spec:
  vaultAuthRef: static-auth
  mount: pki
  role: customer-tool-db-server
  commonName: customer-tool-db.customer-agent.svc.cluster.local
  ipSans:
    - "127.0.0.1"
  ttl: 24h
  format: pem
  expiryOffset: 8h
  destination:
    create: true
    name: customer-tool-db-tls
  rolloutRestartTargets:
    - kind: Deployment
      name: customer-tool-db