---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: customer-agent
  name: customer-tool-db

---
apiVersion: v1
kind: Secret
metadata:
  namespace: customer-agent
  name: customer-tool-db-app-token
  annotations:
    kubernetes.io/service-account.name: customer-tool-db
type: kubernetes.io/service-account-token


---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: customer-tool-db-auth
  namespace: customer-agent
spec:
  vaultConnectionRef: vault-connection
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: customer-tool-db
    serviceAccount: customer-tool-db

---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultPKISecret
metadata:
  name: customer-tool-db-pki
  namespace: customer-agent
spec:
  vaultAuthRef: customer-tool-db-auth
  mount: pki
  role: customer-tool-db-server
  commonName: customer-tool-db.customer-agent.svc.cluster.local
  ipSans:
    - "127.0.0.1"
  ttl: 24h
  format: pem
  expiryOffset: 8h
  destination:
    create: true
    name: customer-tool-db-tls
  rolloutRestartTargets:
    - kind: Deployment
      name: customer-tool-db