---
# Ollama secret for weather-agent namespace
apiVersion: v1
kind: Secret
metadata:
  name: ollama-host-secrets
  namespace: weather-agent
type: Opaque
stringData:
  ollama-host: "{{ollama_host}}"
---
# Ollama secret for customer-agent namespace
apiVersion: v1
kind: Secret
metadata:
  name: ollama-host-secrets
  namespace: customer-agent
type: Opaque
stringData:
  ollama-host: "{{ollama_host}}"